manifests/cilium/** linguist-vendored
manifests/ingress-nginx/** linguist-vendored
manifests/calico.yaml linguist-vendored
manifests/kubernetes-dashboard.yaml linguist-vendored
manifests/metallb-native.yaml linguist-vendored
